<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div id="menu">
        <div class="menu-imagem" style="display: flex;">
            <img src="../images/rocket.png" alt="logo do site (foguete)">
            <p>API<br> Space Flight<br> News </p>
        </div>
        <!-- <div class="menu-botao">
            <button><i class="fa-solid fa-bars"></i></button>
        </div> -->
        <div class="menu-item-lista">
            <ul style="list-style: none;">
                <li class="menu-item">
                    <a id="btnHome">Home</a>
                </li>
                <li class="menu-item">
                    <a id="btnArticle">Artigos</a>
                </li>
                <li class="menu-item">
                    <a id="btnBlog">Blogs</a>
                </li>
                <li class="menu-item">
                    <a id="btnInfo">Site Informativos</a>
                </li>
                <li class="menu-item">
                    <a id="btnReport">Reportagens</a>
                </li>
            </ul>
        </div>
        <!-- <div id="contacts">
        </div> -->
    </div>
    <div id="page">
    </div>
    <script src="home.js" type="module"></script>
    <script src="https://kit.fontawesome.com/473049b64d.js" crossorigin="anonymous"></script>
</body>
</html>