*{
    border: 0;
    margin:0;
    padding:0;
}

body {
    background-color: rgba(0, 0, 0, 0.726);
    display: flex;
}

@font-face {
    font-family: 'MOSFET';
    src: url('../utils/fonts/MOSFET\ Regular.otf') format('opentype'), url('../utils/fonts/MOSFET\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NOIZE SPORT';
    src: url('./utils/fonts/NoizeSportFreeVertion-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#menu {
    color: white;
    max-width: 40%;
    height: 100vh;
    box-shadow: 3px 2px 17px -1px rgba(0,0,0,0.64);
}

#menu h3 {
    font-size: 0.9em;
    margin: 20px;
    font-family: 'MOSFET';
}

.menu-item {
    padding: 5px;
    cursor: pointer; /* Alterar o cursor do mouse */
    padding: 10px;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.61);
}

.menu-item a {
    font-size: larger;
    text-decoration: none
}

#page {
    overflow: auto;
    width: 100vw;
    height: 96vh;
    display: grid;
    background-color: red;
    margin: 15px;
    border-radius: 14px;
}

#page::-webkit-scrollbar {
    width: 12px;
}

#page::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgb(53, 53, 53);
}

#page::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
}

#article {
    margin-bottom: 10px;
    border-radius: 16px;
    font-size: small;
    width: 800px;
    height: 250px;
    display: flex;
    background-color: rgb(53, 53, 53);
    box-shadow: 3px 2px 17px -1px rgba(0,0,0,0.64);
    color: white;
}

#article img {
    border-radius: 16px 0px 0px 16px;
    width: 250px;
    height: 100%;
}

.article-detail {
    height: 90%;
    padding: 10px;
}

.article-title {
    height: 20%;
    margin: 10px 0px 10px 0px;
}

.article-summary {
    height: 60%;
}

.article-buttons {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#article a {
    display: flex;
    justify-content: center;
    border-radius: 16px;
    background-color: red;
    padding: 10px;
    width: 100px;
    font-size: larger;
    color: white;
    text-decoration: none
}

#article a:hover {
    background-color: rgba(53, 53, 53, 0.507);
}

