<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="shortcut icon" href="../utils/images/rocket.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/473049b64d.js" crossorigin="anonymous"></script>
    <title>Space Flight News - Home</title>
</head>
<body>
    <div id="menu">
        <div class="menu-item-lista">
            <h3>Space Flight News</h3>
            <ul style="list-style: none;">
                <li class="menu-item">
                    <i class="fa-solid fa-house"></i>
                    <a id="btnHome">Home</a>
                </li>
                <li class="menu-item">
                    <i class="fa-solid fa-rocket"></i>
                    <a id="btnArticle">Artigos</a>
                </li>
                <li class="menu-item">
                    <i class="fa-solid fa-globe"></i>
                    <a id="btnBlog">Blogs</a>
                </li>
                <li class="menu-item">
                    <i class="fa-solid fa-newspaper"></i>
                    <a id="btnInfo">Site Informativos</a>
                </li>
            </ul>
        </div>
        <div id="contacts">
            <div class="social">
                <a href="https://github.com/angelobordin" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
                <a href="https://www.instagram.com/oangelobordin/" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/angelobordin/" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
            </div>
        </div>
    </div>
    <div id="page">
        <div id="feed">

        </div>
    </div>
    <script src="home.js" type="module"></script>
</body>
</html>