*{
    margin:0;
    padding:0;
    border:0;
}

body {
    display: flex;
    align-item: end;
    justify-content: center;
}

#mainPage {
    width: 40%;
    heigth: 100px;
    background-color: blue;
}