
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Api Space Flight</title>
</head>
<body>
    <div id="mainDiv">
        <h1 id="title">Space Flight News</h1>
        <div id="divLogin">
            <div id="login">
                <h3>Login</h3>
                <form id="form-login">
                    <div class="field">
                        <input type="email" name="userEmail" id="userEmail" placeholder="Usuário / E-mail" required>
                    </div>

                    <div class="field">
                        <input type="password" name="password" id="userPassword" placeholder="Senha" required>
                    </div>
                    
                    <button id="btnLogin" type="submit"><strong>Login</strong></button>
                </form>
            </div>
            <div class="registerLink">
                <p><strong>Não possui cadastro?</strong><button id="btnToRegister"> Clique aqui </button></p>
            </div>
        </div>

        <div id="divRegister">
            <div id="register">
                <h3>Register</h3>
                <form id="form-register">
                                    
                    <div class="field">
                        <input type="text" name="newUserName" id="newUserName" placeholder="Nome Completo" required>
                    </div>

                    <div class="field">
                        <input type="email" name="newUserEmail" id="newUserEmail" placeholder="E-mail" required>
                    </div>

                    <div class="field">
                        <input type="password" name="newUserPassword" id="newUserPassword" placeholder="Senha" required>
                    </div>

                    <div class="field">
                        <input type="password" name="newUserConfirmPassword" id="newUserConfirmPassword" placeholder="Confirme sua senha" required>
                        <div id="wrongPassword">
                            <p>Senha incorreta. As senhas não coincidem.<br> 
                                Verifique e tente novamente.</p>
                        </div>
                    </div>
                    
                    <button id="btnRegister" type="submit"><strong>Register</strong></button>
                </form>
            </div>
            
            <div class="loginLink">
                <p><strong>Já possui login?</strong><button id="btnToLogin"> Clique aqui</button></p>
            </div>          
        </div>
    </div>
    <script src="index.js" type="module"></script>
</body>
</html>