*{
    margin:0;
    padding:0;
}

body{
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
}

#mainDiv{
    border: solid 1px #000000;
    padding: 10px;
    margin-top: 2%;
}

#register {
    margin: 5px;
    padding: 5px;
    background-color: rgba(100, 110, 107, 0.724);
    margin-top: 5%;
}

h3 {
    margin-bottom: 1em;
}

.field {
    margin-bottom: 1em;
}

.field label {
    display: block;
}

.field input {
    padding: 1%;
}

#btnRegister {
    padding: 2px 10px 2px 10px;
}

.loginLink {
    margin: 5px;
}

input, #mainDiv, #register, #btnRegister {
    border-radius: 14px;
}