<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        <title>API Space Flight News</title>
    </head>

    <body>
        <div id="mainPage">
            <p>
                Olá, seja bem vindo(a) a minha API
            </p>
        </div>
        <script src="../js/index.js"></script>
    </body>
</html>